{include file="public/header" /}
<body>
<div class="x-body ">
  <form  class="layui-form">
    <div class="layui-form-item">
      <label for="material_id" class="layui-form-label">材料名称</label>
      <span style="color: red">*</span>
      <div class="layui-input-inline">
        <input type="text" id="material_id" name="material_id" lay-verify="required" autocomplete="off" value="{$materialRow.material_id}" class="layui-input" >
        <input type="hidden" name="id" value="{$materialRow.id}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="density" class="layui-form-label">密度</label>
      <span style="color: red">*</span>
      <div class="layui-input-inline">
        <input type="text" id="density" name="density" lay-verify="required" value="{$materialRow.density}" autocomplete="off" class="layui-input" >
      </div>
    </div>
    <div class="layui-form-item">
      <label for="material_price" class="layui-form-label">材料价格</label>
      <span style="color: red">*</span>
      <div class="layui-input-inline">
        <input type="text" id="material_price" name="material_price"  lay-verify="required" value="{$materialRow.material_price}"  autocomplete="off" class="layui-input"  placeholder="￥">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <button class="layui-btn" lay-submit lay-filter="addId">
        增加
      </button>
    </div>
  </form>
</div>
<script>
    layui.use(['form'], function(){
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer;

        //监听提交
        form.on('submit(addId)', function(data){
            //console.log(data);
            $.post("{:url('index/Material/materialEdit')}",data.field,function(info){
                if (info) {
                    layer.alert("修改成功", {icon: 6},function () {
                        window.parent.location.reload();  //刷新父级页面
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前弹出层
                        parent.layer.close(index);
                    });
                }else{
                    layer.alert("修改失败", {icon: 5});
                }
            },'json');
            return false;
        });


    });
</script>
</body>

</html>