{include file="public/header" /}
<body>

<div class="x-body">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend>订单明细</legend>
    <div class="layui-row">
      <div class="container-wrap">
        <div class="box-1">
          <table class="layui-table">
            <thead>
            <tr>
              <th>订单编号</th>
              <th>订单内容</th>
              <th>交货日期</th>
              <th>客户简称</th>
              <th>备料</th>
              <th>订单报价</th>
              <th>客户项目号</th>
              <th>完成</th>
              <th>发货</th>
              <th>收款</th>
              <th>评审</th>
              <th>建档时间</th>
              <th>报价</th>
            </tr>
            </thead>
            <tbody>
            {volist name="$orderRow" id="info"}
            <tr>
              <td> {$info.order_id}</td>
              <td>{$info.order_content}</td>
              <td>{$info.delivery_time}</td>
              <td>{$info.client_id}</td>
              <td>{$info.prepare}</td>
              <td>{$info.order_price}</td>
              <td>
                {$info.client_prj_id}
              </td>
              <td>
                {if $info.if_complete == 1}
                完成
                {else/}
                未完成
                {/if}
              </td>
              <td>
                {if $info.deliver_goods}
                已发货
                {else/}
                未发货
                {/if}
              </td>
              <td>
                {if $info.receivables == 1}
                已收款
                {else/}
                未收款
                {/if}
              </td>
              <td></td>
              <td>{$info.create_time}</td>
              <th>报价</th>
            </tr>
            {/volist}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>
  <xblock>
    <a class="layui-btn"  target="_blank" href="{:url()}"><i class="iconfont">&#xe718;</i> 框架页面</a>
    <button class="layui-btn" onclick="x_admin_show('添加','{:url(\'index/blueprint/blueprintoutside\',[\'id\'=>1,'model'=>1,'order'=>$orderCode])}')"><i class="layui-icon"></i>添加</button>
  </xblock>
  <div class="layui-row">
    <div class="container-wrap">
      <div class="box-1">
        <table class="layui-table">
          <thead>
            <tr>
              <th>操作</th>
              <th>订单明细编号</th>
              <th>所属图纸明细</th>
              <th>加工安排</th>
              <th>单位</th>
              <th>加工内容</th>
              <th>订单数量</th>
              <th>计划数量</th>
              <th>交货日期</th>
              <th>是否完成</th>
              <th>入库数量</th>
              <th>创建人</th>
              <th>创建时间</th>
            </tr>
          </thead>
          <tbody>
          {volist name="orderDatailInfo" id="info"}
          <tr>
                <td>
                  <a title="修改" onclick="x_admin_show('修改订单','{:url(\'index/Order/editOrder\',[\'id\'=>1])}',600,600)", href="javascript:;"><i style="color: green" class="layui-icon"></i></a>
                  <a title="删除" onclick="delete_(this,'')" href="javascript:void(0);" ><i  style="color:red;" class="layui-icon"></i></a>
                </td>
                <td>{$info.order_detail_code}</td>
                <td>{$info.drawing_detail_id|getDrawingDetailId}</td>
                <td>{$info.arrange}</td>
                <td>{$info.company}</td>
                <td>{$info.content}</td>
                <td>{$info.order_qty}</td>
                <td>{$info.plan_qty}</td>
                <td>{$info.date_delivery}</td>
                <td>{$info.if_complete}</td>
                <td>{$info.warehousing}</td>
                <td>{$info.create_name}</td>
                <td>{$info.create_time}</td>
              </tr>
          {/volist}
          </tbody>
        </table>
      </div>
    </div>
    <div class="page">
    </div>
  </div>
</div>
<script>
    //批量删除
    function delAll (drawing_detail_id) {
        var data = tableCheck.getData();
        if(data == ''){
            layer.msg('请选择需要删除的数据');
            return;
        }
        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            $.ajax({
                url:"{:url('/index/Blueprint/processDelAll')}",
                type:"POST",
                dataType:"json",
                data:{
                    dra_id:drawing_detail_id,
                    data:data   //数据
                },
                success:function (res) {
                    if(res === 1 ){
                        layer.alert("删除成功", {icon: 6},function () {
                            window.location.reload();  //刷新父级页面
                        });
                    }else {
                        layer.alert("删除失败", {icon: 5});
                    }
                },
            });
        });
    }
    //往上走
    $(".layui-table-sort-asc").click(function () {
        var url = "{:url('/index/Blueprint/updateAsc')}";
        var id = $(this).attr('attr-id');
        var drawing_detial_id = $(this).attr('attr-drawing_detial_id');
        var postData ={"id":id,"drawing_detial_id":drawing_detial_id};
        $.post(url,postData,function (result) {
              if(result.error === 1000 ){
                  layer.msg(result.msg,{icon:5,time:1000});
              }else if(result.error === 1) {
                  window.location.reload();  //刷新父级页面
              }else {
                  layer.msg(result.msg,{icon:5,time:1000});
              }
        },"json");
    });
    //往下走
    $(".layui-table-sort-desc").click(function () {
        var url = "{:url('/index/Blueprint/updateDesc')}";
        var id = $(this).attr('attr-id');
        var drawing_detial_id = $(this).attr('attr-drawing_detial_id');
        var postData ={"id":id,"drawing_detial_id":drawing_detial_id};
        $.post(url,postData,function (result) {
            if(result.error === 1000 ){
                layer.msg(result.msg,{icon:5,time:1000});
            }else if(result.error === 1) {
                window.location.reload();  //刷新父级页面
            }else {
                layer.msg(result.msg,{icon:5,time:1000});
            }
        },"json");
    });

    //排序
    $(".listorder input").blur(function () {
        var listorder =  $(this).val();
        var id = $(this).attr('attr-id');
        var url = "{:url('/index/Blueprint/updateSort')}";
        var postData ={"id":id,"listorder":listorder,'table':"product_process","value":"sort"};
        $.post(url,postData,function (result) {
            if(result == 1 ){
                layer.alert("更新成功、排序对应工序编号", {icon: 6},function () {
                    window.location.reload();  //刷新父级页面
                });
            }else {
                layer.alert("更新失败", {icon: 5});
            }
        },"json")
    });
    function sort(id) {
        var url = "{:url('/index/Blueprint/onekeySort')}";
        var postData ={"id":id};
        $.post(url,postData,function (result) {
            if(result === 1 ){
                layer.alert("排序成功", {icon: 6},function () {
                    window.location.reload();  //刷新父级页面
                });
            }else {
                layer.alert("排序失败", {icon: 5});
            }
        },"json")
    }

    /*删除*/
    function delete_process(obj,id,drawing_detial_id){
        layer.confirm('确认要删除吗？',function(index){
            var url = "{:url('/index/Blueprint/deleteProcess')}";
            var postData ={"id":id,"drawing_detial_id":drawing_detial_id};
            $.post(url,postData,function (result) {
                if(result === 1 ){
                    layer.alert("删除成功", {icon: 6},function () {
                        window.location.reload();  //刷新父级页面
                    });
                }else {
                    layer.alert("删除失败", {icon: 5});
                }
            },"json");
        });
    }


</script>
</body>
</html>