 {include file="public/header" /}
 <style>
   .layui-form-label {
     float: left;
     display: block;
     width: 80px;
     font-weight: 100;
     line-height: 20px;
     text-align: right;
     padding: 9px 15px;
   }
 </style>
<body>
<div class="x-body ">
  <form  class="layui-form">
    {volist name="blueprintInfo" id ="info"}
    <div style="border: 1px #636363 solid;padding-top: 4px;margin: 5px;">
      <div class="layui-form-item">

        <div class="layui-inline">
          <label class="layui-form-label">明细编号</label>
          <div class="layui-input-inline" style="width: 200px;">
            <input type="text" value="{$info.drawing_detail_id}"  disabled  required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            <input type="hidden" value="{$info.drawing_detail_id}"  name="drawing_detail_code[]"  >
            <input type="hidden" value="{$info.id}"    name="drawing_detail_id[]" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
          <input type="hidden" value="{$type}" name="type">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">产品名称</label>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="text" disabled value="{$info.drawing_name}" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">材料类型</label>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="text" disabled value="{$info.drawing_type}" autocomplete="off" class="layui-input">
          </div>
        </div>
        <hr>
        <br>

        <div class="layui-inline">
          <label class="layui-form-label">订单号</label>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="text" disabled value="{$orderCode}" autocomplete="off"  class="layui-input" name="ordercode">
            <input type="hidden" disabled value="{$orderId}" name="order_id[]" autocomplete="off" class="layui-input">
            <input type="hidden" disabled value="{$orderId}" name="order" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">订单数量</label>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="number" value="1" id="order_num{$info.drawing_detail_id}" oninput="orderinput('{$info.drawing_detail_id}')"  name="order_qty[]" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">计划数量</label>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="number" value="1"  id="jihua_num{$info.drawing_detail_id}" oninput="jiahua('{$info.drawing_detail_id}')" name="plan_qty[]" autocomplete="off" class="layui-input">
          </div>
        </div>
        <!--<div class="layui-inline">-->
          <!--<label class="layui-form-label">加工安排</label>-->
          <!--<div class="layui-input-inline" style="width: 100px;">-->
            <!--<select  name="arrange[]">-->
              <!--<option value="是">是</option>-->
              <!--<option value="否">否</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <div class="layui-inline">
          <label class="layui-form-label">是否加工</label>
          <div class="layui-input-block">
            <input type="checkbox" name="arrange[]" lay-skin="switch" lay-filter="switchTest" lay-text="是|否"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>否</em><i></i></div>
          </div>
        </div>


        <!--<div class="layui-inline">-->
          <!--<label class="layui-form-label">加工安排</label>-->
          <!--<div class="layui-input-inline" style="width: 100px;">-->
            <!--<select  name="arrange[]">-->
              <!--<option value="整体外协">整体外协</option>-->
              <!--<option value="自加工" selected>自加工</option>-->
              <!--<option value="标件不加工">标件不加工</option>-->
              <!--<option value="外协完成">外协完成</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <div class="layui-inline">
          <label class="layui-form-label">单位</label>
          <div class="layui-input-inline"  style="width: 100px;">
            <select name="company[]" >
              <option value="件">件</option>
              <option value="套">套</option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">加工内容</label>
          <div class="layui-input-inline" style="width: 340px;">
            <input type="text" name="content[]" autocomplete="off" class="layui-input">
          </div>
        </div>



        <div class="layui-inline">
          <label class="layui-form-label">交货日期</label>

          <div class="layui-inline"  style="width: 100px;"> <!-- 注意：这一层元素并不是必须的 -->
            <input type="text" class="layui-input" name="date_delivery[]" id="data" lay-key="1">
          </div>
          <script>
              layui.use('laydate', function(){
                  var laydate = layui.laydate;

                  //执行一个laydate实例
                  laydate.render({
                      elem: '#data' //指定元素
                  });
              });
          </script>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">备料单编号</label>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="purchase_id[]" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">材料来源</label>
          <div class="layui-input-inline" style="width: 100px;">
            <select name="material_source[]" >
              <option value="来料">来料</option>
              <option value="外购">外购</option>
              <option value="自备">自备</option>
            </select>
          </div>
        </div>
        <!--<div class="layui-inline">-->
          <!--<label class="layui-form-label">入库数量</label>-->
          <!--<div class="layui-input-inline" style="width: 100px;">-->
            <!--<input type="text" name="warehousing[]" autocomplete="off" class="layui-input">-->
          <!--</div>-->
        <!--</div>-->

        {switch$a}
        {case 1}
        <div class="layui-inline">
          <label class="layui-form-label">所属内图编号</label>
          <div class="layui-input-inline" style="width: 300px;">
            <input type="text" autocomplete="off" disabled name="drawing_externa_or_internal_id[]" value="{$info.drawing_internal_id}" class="layui-input">
          </div>
        </div>
        {/case}
        {case 0}
        <div class="layui-inline">
          <label class="layui-form-label">所属外图编号</label>
          <div class="layui-input-inline" style="width: 300px;">
            <input type="text" autocomplete="off" disabled name="drawing_externa_or_internal_id[]" value="{$info.drawing_externa_id}" class="layui-input">

          </div>
        </div>
        {/case}
        {default /}default
        {/switch}



        <div class="layui-inline">
          <label class="layui-form-label">备注</label>
          <div class="layui-input-inline" style="width: 500px;">
            <input type="text" autocomplete="off"  name="remark[]"  class="layui-input" >
          </div>
        </div>
      </div>
    </div>
    {/volist}
      <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <button class="layui-btn" lay-submit lay-filter="addId" id="butt" >
          增加
        </button>

      </div>
  </form>
</div>
<script>
  function orderinput(d_id){
      var order_num = $("#order_num"+d_id).val();
      if(order_num < 1){
          $("#order_num"+d_id).val(1);
          $("#jihua_num"+d_id).val(1);
      }

      $("#jihua_num"+d_id).val(order_num);
      // alert(order_num);
  }

  function jiahua(d_id){
      var order_num = $("#jihua_num"+d_id).val();
      if(order_num < 1){
          $("#jihua_num"+d_id).val(1);
      }
  }
    $(function () {
       var code = {$code};
       var state = {$state};
       // alert(code);
       //  $ = layui.jquery;
       //  var layer = layui.layer;
       //  $ = layui.jquery;
       //  var form = layui.form,layer = layui.layer;
       if (code === -5){
           alert('暂无数据或者数据已添加');
           window.parent.location.reload();  //刷新父级页面
       }
       if(code === -4){
           alert('图纸明细为以下编码: '+'{$msg}'+'已经入库！');
           if(state === -10){
               window.parent.location.reload();  //刷新父级页面
           }
       }
    });
    layui.use(['form'], function(){
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer;

        //监听提交
        form.on('submit(addId)', function(data){
            // $("#butt").attr("disabled", true);
            //console.log(data);
            $.post("{:url('index/Order/addOrderDetail')}",data.field,function(info){
                if (info) {
                    layer.alert("添加成功", {icon: 6},function () {
                        window.parent.parent.location.reload();  //刷新父级页面
                        // 获得frame索引
                        var index = parent.parent.layer.getFrameIndex(window.name);
                        //关闭当前弹出层
                        parent.layer.close(index);
                    });
                }else{
                    layer.alert("添加失败", {icon: 5});
                }
            },'json');
            return false;
        });
    });




</script>
</body>

</html>