{include file="public/header" /}
<body>
<div class="x-body ">
  <form  class="layui-form">
    <div class="layui-form-item">
      <label for="spec" class="layui-form-label">规格</label>
      <span style="color: red">*</span>
      <div class="layui-input-inline">
        <input type="text" id="spec" name="spec" lay-verify="required" autocomplete="off" class="layui-input" >
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">尺寸</label>
        <span style="color: red">*</span>
        <div class="layui-form-mid">高度</div>
        <div class="layui-input-inline" style="width: 100px;">
          <input type="text" name="height"  lay-verify="required"  autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid">腿宽</div>
        <div class="layui-input-inline" style="width: 100px;">
          <input type="text" name="leg_width"  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid">腰厚</div>
        <div class="layui-input-inline" style="width: 100px;">
          <input type="text" name="waist_depth"  lay-verify="required"   autocomplete="off" class="layui-input">
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <label for="weight" class="layui-form-label">理论重量</label>
      <span style="color: red">*</span>
      <div class="layui-input-inline">
        <input type="text" id="weight" name="weight"  lay-verify="required"  autocomplete="off" class="layui-input" >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <button class="layui-btn" lay-submit lay-filter="addId">
        增加
      </button>
    </div>
  </form>
</div>
<script>
    layui.use(['form'], function(){
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer;

        //监听提交
        form.on('submit(addId)', function(data){
            //console.log(data);
            $.post("{:url('index/Section/sectionAdd')}",data.field,function(info){
                if (info) {
                    layer.alert("添加成功", {icon: 6},function () {
                        window.parent.location.reload();  //刷新父级页面
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前弹出层
                        parent.layer.close(index);
                    });
                }else{
                    layer.alert("添加失败", {icon: 5});
                }
            },'json');
            return false;
        });


    });
</script>
</body>

</html>