{include file="public/header" /}
<body>
<div class="x-body">
    <form class="layui-form">
        {volist name="$productLog" id="productLogList"}
        <div class="layui-form-item">
            <label class="layui-form-label">记录编号</label>
            <div class="layui-input-inline" >
                <input type="text" class="layui-input" name="log_id" value="{$productLogList.log_id}" disabled >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工</label>
            <div class="layui-input-inline">
                <select name="hr_id" lay-verify="required">
                    <option value="{$productLogList.hr_id}">{$productLogList.hr_id}</option>
                    <optgroup label="选择员工">
                        {volist name="$employee" id="list"}
                        <option value="{$list.employee_name}">{$list.employee_name}</option>
                        {/volist}
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">完成数量</label>
            <div class="layui-input-inline" >
                <input type="number" class="layui-input" name="complete_qty" value="{$productLogList.complete_qty}" lay-verify="required">
                <br>
                <p style="color: green">当前任务数量: {$taskCount} </p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">完成日期</label>
            <div class="layui-input-inline">
                <select name="complete_date" lay-verify="required">
                    <option value='{$productLogList.complete_date}'>{$productLogList.complete_date}</option>
                    <optgroup label="选择日期">
                        <option value='{:date("Y-m-d")}'>今天:{:date("Y-m-d")}</option>
                        <option value='{:date("Y-m-d",time()-3600*24)}'>昨天:{:date("Y-m-d",time()-3600*24)}</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务编号</label>
            <div class="layui-input-inline" >
                <input type="text" class="layui-input" name="task_id" value="{$productLogList.task_id}" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工艺编号</label>
            <div class="layui-input-inline" >
                <input type="text" class="layui-input" name="process_id" id="process_id" value="{$productLogList.process_id}" disabled>
            </div>
            <a class="layui-btn layui-btn-sm layui-btn-normal" id="process">选择工艺</a>
        </div>
        <!--<a href="#" id="sss" onclick="x_admin_show('选择 {$drawing} 的工艺','{:url(\'index/ProductionRecords/showProcess\',[\'drawing\'=>$drawing])}')">选择工艺</a>-->
        <div class="layui-form-item">
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-inline">
                <select name="eqpmt_id" lay-verify="required">
                    <option value="{$productLogList.eqpmt_id}">{$productLogList.eqpmt_id}</option>
                    <optgroup label="选择设备">
                        {volist name="$eqpmt" id="list"}
                        <option value="{$list.eqpmt_id}">{$list.eqpmt_id}</option>
                        {/volist}
                    </optgroup>
                </select>
            </div>
        </div>
        <input type="hidden" name="update_name" value="{$Think.session.user.user_name}">
        <div class="layui-form-item">
            <label class="layui-form-label">合格品数量</label>
            <div class="layui-input-inline" >
                <input type="text" class="layui-input" name="product_qty" value="{$productLogList.product_qty}" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">质量等级</label>
            <div class="layui-input-inline" >
                <input type="text" class="layui-input" name="quality_grade" value="{$productLogList.quality_grade}" id="quality_grade" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否审核</label>
            <div class="layui-input-block">
                <input type="checkbox" name="if_audit" lay-skin="switch" lay-text="已审|未审" {$productLogList.if_audit=='已审'?'checked':''}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline" >
                <input type="text" class="layui-input" name="remark" value="{$productLogList.remark}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn" lay-submit lay-filter="addId">
                确认修改
            </button>
        </div>
        {/volist}
    </form>
</div>
<script>
    $(function () {
       $("#process").click(function () {
           top.SearchTeacherLayerId = top.layer.open({
               title: "选择{$drawing}的工艺",
               type: 2,
               shadeClose: true,
               area: ['85%', '590px'],
               content: "{:url('index/ProductionRecords/showProcess',['drawing'=>$drawing])}",
               success: function () {
                   $(top.document.body).find('#layui-layer-iframe' + top.SearchTeacherLayerId).contents().find("td a").on('click', function () {
                       //alert($(this).attr('data-id'));
                       $("#process_id").val($(this).attr('data-id'));
                       top.layer.close(top.SearchTeacherLayerId);
                   });
               }
           });
       });
    });


    layui.use(['form'], function(){
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer;
        //监听提交
        form.on('submit(addId)', function(data){
            if(data.field['quality_grade']<=0 || data.field['quality_grade'] >1 || data.field['quality_grade']==""){
                layer.alert("质量等级为0~1之间的小数", {icon: 5});
                return false;
            }

            if(data.field['complete_qty']>"{$taskCount}" || data.field['complete_qty']<0){
                layer.alert("完成数量不得超过现有任务数量: {$taskCount}", {icon: 5});
                return false;
            }
            if(data.field['if_audit']){
                data.field['if_audit']="已审"
            }else{
                data.field['if_audit']="未审"
            }
            //console.log(data.field);
            $.post("{:url('index/ProductionRecords/saveEdit')}",data.field,function(info){
                if (info) {
                    layer.msg("修改成功", {time:1000,icon: 6},function () {
                        window.parent.location.reload();  //刷新父级页面
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前弹出层
                        parent.layer.close(index);
                    });
                }else{
                    layer.msg("修改失败", {time:1000,icon: 5});
                }
            },'json');
            return false;
        });
    });
</script>
</body>

</html>