{include file="public/header" /}
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">任务管理</a>
        <a href="">在制任务</a>
        <a>
          <cite>{$task_id}的生产记录</cite>
        </a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="{:url()}" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>

<div class="x-body" >
    <xblock>
        <a class="layui-btn"  target="_blank" href="{:url()}"><i class="iconfont">&#xe718;</i> 框架页面</a>
        <button class="layui-btn" id="addLog" onclick="x_admin_show('添加生产记录','{:url(\'index/ProductionRecords/addLog\',[\'task_id\'=>$task_id])}',500,700)"><i class="layui-icon"></i>添加生产记录</button>
        <span class="x-right" style="line-height:40px">共{$productLogCount}条 · 共{$productLogCount/25|getInt}页</span>
    </xblock>
    <div class="container-wrap">
        <div class="box-1">
            <table class="layui-table">
                <thead>
                <tr>
                    <!--<th>-->
                    <!--<div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>-->
                    <!--</th>-->
                    <th>操作</th>
                    <th>签字</th>
                    <th>生产记录编号</th>
                    <th>员工编号</th>
                    <th>完成数量</th>
                    <th>完成日期</th>
                    <th>任务编号</th>
                    <th>工艺编号</th>
                    <th>设备编号</th>
                    <th>生产管理签字</th>
                    <th>生产管理签字日期</th>
                    <th>合格品数量</th>
                    <th>质量等级</th>
                    <th>检验员</th>
                    <th>检验签名日期</th>
                    <th>互检人员</th>
                    <th>互检人员签字日期</th>
                    <th>生产管理审核</th>
                    <th>备注</th>
                    <th>创建日期</th>
                    <th>创建人</th>
                    <th>修改日期</th>
                    <th>修改人</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {volist name="$productLog" id="list"}
                    <td class="td-manage">
                        <a title="修改" onclick="x_admin_show('修改 <span class=\'layui-badge layui-bg-blue\'>{$list.log_id}</span> 生产记录','{:url(\'index/blueprint/blueprintInfos\',[\'id\'=>$list.log_id])}')" href="javascript:;"><i style="color: green" class="layui-icon"></i></a>
                        <a title="删除" onclick="delete_(this,'{$list.log_id}')" href="javascript:void(0);" >
                            <i  style="color:red;" class="layui-icon"></i>
                        </a>
                    </td>
                    <td class="td-manage">
                        {if $list.manege_name==""}
                        <a title="生产签字" onclick="sign_('{$list.log_id}','manege_date','manege_name')" href="javascript:void(0);" >
                            <i class="iconfont" style="color:green">&#xe69e;</i>
                        </a>
                        {else}
                        <a title="取消生产签字" onclick="signDown_('{$list.log_id}','manege_date','manege_name')" href="javascript:void(0);" >
                            <i class="iconfont" style="color:red">&#xe69a;</i>
                        </a>
                        {/if}
                        {if $list.qc_inspector==""}
                        <a title="检验签字" onclick="sign_('{$list.log_id}','qc_inspector_date','qc_inspector')" href="javascript:void(0);" >
                            <i class="iconfont" style="color:green">&#xe69e;</i>
                        </a>
                        {else}
                        <a title="取消检验签字" onclick="signDown_('{$list.log_id}','qc_inspector_date','qc_inspector')" href="javascript:void(0);" >
                            <i class="iconfont" style="color:red">&#xe69a;</i>
                        </a>
                        {/if}
                        {if $list.other_checker==""}
                        <a title="互检签字" onclick="sign_('{$list.log_id}','other_checker_date','other_checker')" href="javascript:void(0);" >
                            <i class="iconfont" style="color:green">&#xe69e;</i>
                        </a>
                        {else}
                        <a title="取消互检签字" onclick="signDown_('{$list.log_id}','other_checker_date','other_checker')" href="javascript:void(0);" >
                            <i class="iconfont" style="color:red">&#xe69a;</i>
                        </a>
                        {/if}
                    </td>
                    <td>{$list.log_id}</td>
                    <td>{$list.hr_id}</td>
                    <td>{$list.complete_qty}</td>
                    <td>{$list.complete_date}</td>
                    <td>{$list.task_id}</td>
                    <td>{$list.process_id}</td>
                    <td>{$list.eqpmt_id}</td>
                    <td>{$list.manege_name==""?"<a style='color:red'>未签字</a>":$list.manege_name}</td>
                    <td>{$list.manege_date==""?"<a style='color:red'>无效</a>":$list.manege_date}</td>
                    <td>{$list.product_qty}</td>
                    <td>{$list.quality_grade}</td>
                    <td>{$list.qc_inspector==""?"<a style='color:red'>未签字</a>":$list.qc_inspector}</td>
                    <td>{$list.qc_inspector_date==""?"<a style='color:red'>无效</a>":$list.qc_inspector_date}</td>
                    <td>{$list.other_checker==""?"<a style='color:red'>未签字</a>":$list.other_checker}</td>
                    <td>{$list.other_checker_date==""?"<a style='color:red'>无效</a>":$list.other_checker_date}</td>
                    <td>{$list.if_audit}</td>
                    <td>{$list.remark}</td>
                    <td>{$list.create_time}</td>
                    <td>{$list.create_name}</td>
                    <td>{$list.update_time}</td>
                    <td>{$list.update_name}</td>
                    {/volist}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--___________________________________-->
    <div class="page">
        {$productLog|raw}
    </div>
    <script>
        /*删除*/
        function delete_(obj,id){
            layer.confirm('确认要删除吗？',function(index){
                var url = "<?php echo url('/index/Blueprint/delete'); ?>";
                var postData ={"id":id};
                $.post(url,postData,function (result) {
                    if(result === 1 ){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else {
                        layer.alert("删除失败", {icon: 5});
                    }
                },"json");
            });
        }

        //签字
        function sign_(where,dateKey,nameKey){
            layer.confirm('确定要签名吗？',function(index){
                var url = "{:url('index/ProductionRecords/sign')}";
                var postData ={"where":where,"dateKey":dateKey,"nameKey":nameKey};
                $.post(url,postData,function (result) {
                    if(result){
                        location.reload();
                        layer.msg('已签名!',{icon:1,time:1000});
                    }else {
                        location.reload();
                        layer.alert("签名失败", {icon: 5});
                    }
                },"json");
            });
        }
        //签字
        function signDown_(where,dateKey,nameKey){
            layer.confirm('确定取消签名吗？',function(index){
                var url = "{:url('index/ProductionRecords/signDown')}";
                var postData ={"where":where,"dateKey":dateKey,"nameKey":nameKey};
                $.post(url,postData,function (result) {
                    if(result){
                        location.reload();
                        layer.msg('已取消签名!',{icon:1,time:1000});
                    }else {
                        location.reload();
                        layer.alert("取消签名失败", {icon: 5});
                    }
                },"json");
            });
        }



        $(function () {
            $("#addLog").click(function () {
                layer.msg('数据过多，正在加载中...', {time:6000});
            })
        });

    </script>
</div>

</body>
</html>