 <div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <!--//超级管理权限-->
            {if $Think.session.user.user_id}
            <!--//管理员权限-->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>人力资源</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    {if $Think.session.user.admin === 'admin'}
                    <li>
                        <a _href="{:url('index/Administrators/adminInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>超级管理员列表</cite>
                        </a>
                    </li >
                    {/if}
                    {if $Think.session.user.employee_lv == 1}
                    <li>
                        <a _href="{:url('index/Employee/employeeInfo')}" >
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>员工列表</cite>
                        </a>
                    </li >
                    {/if}

                    <li>
                        <a _href="{:url('index/Client/clientInfo')}">
                        <i class="iconfont">&#xe6a7;</i>
                            <cite>客户列表</cite>
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('index/personnel/authorityClass')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>角色管理</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/personnel/authorityClass')}">-->
                        <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>权限分类</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6e5;</i>
                    <cite>流水账单</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/bill/customerBill')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>客户账单</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/bill/readyMoneyBill')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>现金账单</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/bill/companyBill')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>公司账户</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6f6;</i>
                    <cite>库房管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/storehouse/delivery')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发货出库</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/storehouse/purchase')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>外购产品</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6f6;</i>
                    <cite>基础信息</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/ProcessType/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>工序类型</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/LoolingType/loolingInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>工装类型</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/material/material')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>材料管理</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/Section/section')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>材料截面</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/Department/departmentInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>部门名称</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/Duties/DutiesInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>职务名称</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/Equipment/equipmentType')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>设备类型</cite>
                        </a>
                    </li >
                    <li>
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-rmb"></i>
                            <cite>财务相关</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="{:url('index/CostType/costInfo')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>费用类型</cite>
                                </a>
                            </li >
                            <li>
                                <a _href="{:url('index/IncomeType/Info')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>收入类型</cite>
                                </a>
                            </li >
                            <li>
                                <a _href="{:url('index/AccountType/Info')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>账户类型</cite>
                                </a>
                            </li >
                            <li>
                                <a _href="{:url('index/StoreroomType/Info')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>库房类型</cite>
                                </a>
                            </li >
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>图纸管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/blueprint/blueprintOutside')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>外部图纸</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/Internal/internalInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>内部图纸</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/Assembly/assemblyInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>组件图纸</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/blueprint/blueprintInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图纸明细</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b5;</i>
                    <cite>任务管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/CurrentTask/inTask',['id'=>0])}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>在制和已制</cite>
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('index/task/alreadyTask')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>已制任务</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <li>
                        <a _href="{:url('index/task/classes')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>轮班安排</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/task/evidence')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发货单据</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/task/sendGoodsInquiry')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发货查询</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/task/sendGoodsGather')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发货汇总</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon iconfont">&#xe705;</i>
                    <cite>设备和量具</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/Equipment/equipmentInfo')}" >
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>设备管理</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/Measuring/measuringInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>量具管理</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a  href="javascript:;">
                    <i class="icon iconfont">&#xe702;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/order/order')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            {/if}
            <li>
                <a _href="">
                    <i class="icon iconfont">&#xe740;</i>
                    <cite>技术资料</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
            </li>

            <li>
                <a _href="datum.html">
                    <i class="icon iconfont">&#xe705;</i>
                    <cite>规章制度</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
            </li>
            <li>
                <a _href="message.html">
                    <i class="icon iconfont">&#xe74e;</i>
                    <cite>留言建议</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->