<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./index.html">恒易管理 v2.0</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">

        {if $Think.session.user.user_id}
        <li class="layui-nav-item">
            <a href="javascript:;">{$Think.session.user.admin_name}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a href="{:url('index/login/switchLogin')}">切换帐号</a></dd>
                <dd><a href="{:url('index/login/outLogin')}">退出</a></dd>
            </dl>
        </li>
        {else/}
        <li class="layui-nav-item">
            <a href="javascript:;">当前身份:游客</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="{:url('index/index/login')}">登陆</a></dd>
            </dl>
        </li>
        {/if}

    </ul>
</div>
<!-- 顶部结束 -->