{include file="public/header" /}
  <body>
    <div class="x-body">
        <form class="layui-form"  >
            <input type="hidden" class="layui-input" name="id" title="无法编辑" value="{$blueprintInfo.id}"  >



            <div class="layui-form-item">
                <label class="layui-form-label">明细编号</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="drawing_detail_id" title="无法编辑" value="{$blueprintInfo.drawing_detail_id}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司编号</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="drawing_internal_id" title="无法编辑" value="{$blueprintInfo.drawing_internal_id}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">外图编号</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="drawing_externa_id" value="{$blueprintInfo.drawing_externa_id}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图纸名称</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="drawing_name" value="{$blueprintInfo.drawing_name}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">材料类型</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="material" value="{$blueprintInfo.material}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">热处理类型</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="heat_treatment" value="{$blueprintInfo.heat_treatment}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图纸类型</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input"  name="drawing_type" value="{$blueprintInfo.drawing_type}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户类型</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input"  name="client_id" value="{$blueprintInfo.client_id}"  >
                </div>
            </div>



            <div class="layui-form-item">
                <label class="layui-form-label">是否批量</label>
                <div class="layui-input-block">
                    <input type="checkbox"   {if 1==$blueprintInfo.if_batch}checked=""{/if}  name="if_batch" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
                    <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">材料形状</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input"  name="material_type" value="{$blueprintInfo.material_type}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">厚度</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="thickness_Dia" value="{$blueprintInfo.thickness_Dia}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">长度尺寸</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="length_dim" value="{$blueprintInfo.length_dim}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">宽度尺寸</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="width_dim" value="{$blueprintInfo.width_dim}"  >
                </div>
            </div>
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">保证厚度</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="text" class="layui-input" value="{$blueprintInfo.if_thickness}"  >-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">保证长度</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="text" class="layui-input" value="{$blueprintInfo.if_length}"  >-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">保证宽度</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="text" class="layui-input" value="{$blueprintInfo.if_width}"  >-->
                <!--</div>-->
            <!--</div>-->

            <div class="layui-form-item">
                <label class="layui-form-label">保证厚度</label>
                <div class="layui-input-block">
                    <input type="checkbox"   {if 1==$blueprintInfo.if_thickness}checked=""{/if}  name="if_thickness" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                    <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">保证长度</label>
                <div class="layui-input-block">
                    <input type="checkbox"   {if 1==$blueprintInfo.if_length}checked=""{/if}  name="if_length" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                    <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">保证宽度</label>
                <div class="layui-input-block">
                    <input type="checkbox"   {if 1==$blueprintInfo.if_width}checked=""{/if}  name="if_width" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                    <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排料数量</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="layout_qty" value="{$blueprintInfo.layout_qty}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">材料要求</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="material_requirements" value="{$blueprintInfo.material_requirements}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品加工费</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="product_mfg_cost" value="{$blueprintInfo.product_mfg_cost}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品报价</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="product_quotation" value="{$blueprintInfo.product_quotation}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品实价</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="product_real_price" value="{$blueprintInfo.product_real_price}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">创建人</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="create_name" value="{$blueprintInfo.create_name}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">最后修改人</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="modify_name" value="{$blueprintInfo.modify_name}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">创建时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" value="{$blueprintInfo.create_time}"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">修改时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" value="{$blueprintInfo.update_time}"  >
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="remark" >{$blueprintInfo.remark}</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            </div>
      </form>
    </div>

    <script>
         layui.use('form', function(){
             $ = layui.jquery;
             var form = layui.form
                 ,layer = layui.layer;
                 //监听提交
                 form.on('submit(formDemo)', function(data){
                     $.post("{:url('index/Blueprint/blueprintinfos')}",data.field,function(res){
                         if(res == 1){
                             layer.alert("修改成功", {icon: 6},function () {
                                 window.parent.location.reload();  //刷新父级页面
                                 // 获得frame索引
                                 var index = parent.layer.getFrameIndex(window.name);
                                 //关闭当前弹出层
                                 parent.layer.close(index);
                             });
                         }else {
                             layer.alert("修改失败", {icon: 5});
                         }
                         },'json');
                     return false;
                 });

         });
    </script>
  </body>

</html>