{include file="public/header" /}
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">图纸管理</a>
        <a>
          <cite>图纸明细</cite>
        </a>
      </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>

<div class="x-body" >
  <xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="layui-input-inline">
      <!--<input type="tel" id="findText" lay-verify="required|phone" autocomplete="off" placeholder="请输入关键字..." class="layui-input">-->
      <form class="layui-form" action="{:url('index/Blueprint/blueprintInfo')}" method="post">
        <div class="layui-input-inline">
          <select name="modules" lay-verify="required" lay-search="" id="findText">
            <option value="">请输入关键字...</option>
            <optgroup label="外图明细">
              {volist name="$blueprintInfo" id="blueprintInfoList"}
              <option value="{$blueprintInfoList.drawing_detail_id}">{$blueprintInfoList.drawing_detail_id}</option>
              {/volist}
            </optgroup>

            <optgroup label="公司编号">
              {volist name="$blueprintInfo" id="blueprintInfoList"}
              <option value="{$blueprintInfoList.drawing_internal_id}">{$blueprintInfoList.drawing_internal_id}</option>
              {/volist}
            </optgroup>

            <optgroup label="外图编号">
              {volist name="$blueprintInfo" id="blueprintInfoList"}
              <option value="{$blueprintInfoList.drawing_externa_id}">{$blueprintInfoList.drawing_externa_id}</option>
              {/volist}
            </optgroup>

          </select>
        </div>
        <button type="submit" class="layui-btn"  lay-submit="" lay-filter="sreach" id="find"><i class="layui-icon">&#xe615;</i></button>
      </form>
    </div>

    <script>
      $(function () {
          $("#find").click(function () {
              var findText = $("#findText").val();
              if(findText.length > 1){
                  window.location.href="{:url('index/blueprint/blueprintInfo')}";
              }else{
                  layer.msg('请输入查找的关键字!',{icon:0,time:2000});
              }

          });
      })
    </script>
    <!--<span class="x-right" style="line-height:40px">共：{$blueprintInfoCount}条数据</span>-->
  </xblock>
  <!------------------------------------------------------------------------------------------------------------------->
  <div class="container-wrap">
    <div class="box-1">
      <table class="layui-table">
      <thead>
      <tr>
        <th>
          <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
        </th>
        <th>明细编号</th>
        <th>公司编号</th>
        <th>外图编号</th>
        <th>图纸名称</th>
        <th>材料</th>
        <th>类型</th>
        <th>客户</th>
        <th>批量</th>
        <th>工费</th>
        <th>报价</th>
        <th>实际价格</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {volist name="$blueprintInfo" id="blueprintInfoList"}
      <tr>
        <td>
          <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$blueprintInfoList.id}'><i class="layui-icon">&#xe605;</i></div>
        </td>
        <td>{$blueprintInfoList.drawing_detail_id}</td>
        <td>{$blueprintInfoList.drawing_internal_id}</td>
        <td>{$blueprintInfoList.drawing_externa_id}</td>
        <td>{$blueprintInfoList.drawing_name}</td>
        <td>{$blueprintInfoList.heat_treatment}</td>
        <td>{$blueprintInfoList.drawing_type}</td>
        <td>{$blueprintInfoList.client_id}</td>
        <td>{$blueprintInfoList.if_batch}</td>
        <td>{$blueprintInfoList.layout_qty}</td>
        <td>{$blueprintInfoList.product_mfg_cost}</td>
        <td>{$blueprintInfoList.product_quotation}</td>
        <td class="td-manage">
          <a title="详" onclick="x_admin_show('图纸明细 <span class=\'layui-badge layui-bg-blue\'>{$blueprintInfoList.drawing_detail_id}</span> 的所有信息','{:url(\'index/blueprint/blueprintInfos\',[\'id\'=>$blueprintInfoList.drawing_detail_id])}',450)" href="javascript:;"><i class="layui-icon">详</i></a>
          <a title="外" onclick="x_admin_show('外','http://php.me/[爱，就注定了一生的漂泊].刘墉.扫描版.pdf')" href="javascript:;"><i class="layui-icon">外</i></a>
          <a title="内" onclick="x_admin_show('内','http://php.me/超越平凡的平面设计+版式设计原理.pdf')" href="javascript:;"><i class="layui-icon">内</i></a>
          <a title="程" onclick="x_admin_show('程','http://php.me/微交互  细节设计成就卓越产品.pdf')" href="javascript:;"><i class="layui-icon">程</i></a>
          <a title="工" onclick="x_admin_show('<span class=\'layui-badge layui-bg-blue\'>{$blueprintInfoList.drawing_detail_id}</span> 的工艺信息','{:url(\'index/blueprint/process\')}')" href="javascript:;"><i class="layui-icon">工</i></a>
        </td>
      </tr>
      {/volist}
      </tbody>
    </table>
    </div>
  </div>
  <!--___________________________________-->
  <div class="page">
    {$blueprintInfo|raw}
  </div>
  <script>
      layui.use('laydate', function(){
          var laydate = layui.laydate;

          //执行一个laydate实例
          laydate.render({
              elem: '#start' //指定元素
          });

          //执行一个laydate实例
          laydate.render({
              elem: '#end' //指定元素
          });
      });

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }

      function delAll (argument) {

          var data = tableCheck.getData();

          layer.confirm('确认要删除吗？',function(index){
              //捉到所有被选中的，发异步进行删除
              $.ajax({
                  url:"/index/index/delall",
                  type:"POST",
                  dataType:"json",
                  data:{
                      table:"hy_drawing_detial",  //表名
                      data:data   //数据
                  },
                  success:function (res) {
                      layer.msg(res.message, {icon: 1});
                      $(".layui-form-checked").not('.header').parents('tr').remove();
                  },
              });
          });
      }
  </script>
</body>
</html>