{include file="public/header" /}
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>
<script src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
<body>
<div class="x-body ">
  <form  class="layui-form">
    <div class="layui-form-item">
      <label for="process_id" class="layui-form-label">工艺编号</label>
      <div class="layui-input-inline">
        <input type="text" id="process_id" disabled="disabled" name="process_id" lay-verify="required" value="{$processRow.process_id}" autocomplete="off" class="layui-input">
        <input type="hidden" id="id"  name="id"  value="{$processRow.id}" autocomplete="off" class="layui-input">
        <p id="pLog" style="color:red"></p>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">工艺说明</label>
      <div class="layui-input-block">
        <textarea name="process_content" id="content" >{$processRow.process_content}</textarea>
      </div>
    </div>
    <script type="text/javascript">
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        UE.getEditor('content',{initialFrameWidth:300,initialFrameHeight:200,elementPathEnabled:false,wordCount:false, toolbars:[['bold','superscript','subscript','fontsize','spechars']]});
    </script>
    <div class="layui-form-item">
      <label class="layui-form-label">工艺类型</label>
      <div class="layui-input-block">
        <select name="process_type" lay-verify="required">
          <option value=""></option>
          {volist name="processType" id ="processTypeInfo" }
          {$processRow.process_type}
             <option value="{$processTypeInfo.id}"
                     {if $processTypeInfo.id == $processRow.process_type }
                     selected
                     {/if}
             >{$processTypeInfo.process_name}</option>
          {/volist}
        </select>
      </div>
    </div>


    <!--<div class="layui-form-item">-->
      <!--<label for="process_content" class="layui-form-label">工艺说明</label>-->
      <!--<div class="layui-input-block">-->
        <!--<textarea id="process_content" name="process_content" class="layui-textarea" >{$processRow.process_content}</textarea>-->
        <!--<div class="layui-btn-container layadmin-layer-demo" style="margin-top:5px; ">-->
          <!--<input   type="button" 	class="layui-btn layui-btn-xs" onclick="openModak()" style="width:50px;height: 20px;" value="☼">-->
        <!--</div>-->
        <!--<script>-->
            <!--function openModak(){-->
                <!--$("[name='testname']").val("xxxxxxxxxxxxxxx");//向模态框中赋值-->
                <!--layui.use(['layer'],function () {-->
                    <!--var layer = layui.layer,$=layui.$;-->
                    <!--layer.open({-->
                        <!--type:1,//类型-->
                        <!--area:['200px','200px'],//定义宽和高-->
                        <!--title:'特殊符号输入',//题目-->
                        <!--shadeClose:true,//点击遮罩层关闭-->
                        <!--content: $('#motaikunag')//打开的内容-->
                    <!--});-->
                <!--})-->
            <!--}-->

        <!--</script>-->

        <!--<div id="motaikunag" style="display: none;">-->
          <!--<table class="layui-table">-->
            <!--<tr>-->
              <!--<td onclick="inputTs('Φ')">Φ</td>-->
              <!--<td onclick="inputTs('∥')">∥</td>-->
              <!--<td onclick="inputTs('◎')">◎</td>-->
              <!--<td onclick="inputTs('⊙')">⊙</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td onclick="inputTs('○')">○</td>-->
              <!--<td onclick="inputTs('☆')">☆</td>-->
              <!--<td onclick="inputTs('□')">□</td>-->
              <!--<td onclick="inputTs('≡')">≡</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td onclick="inputTs('⊥')">⊥</td>-->
              <!--<td onclick="inputTs('√')">√</td>-->
              <!--<td onclick="inputTs('˚')">˚</td>-->
              <!--<td onclick="inputTs('⌒')">⌒</td>-->
            <!--</tr>-->
            <!--<tr>-->

              <!--<td onclick="inputTs('⊕')">⊕</td>-->
              <!--<td onclick="inputTs('℃')">℃</td>-->
              <!--<td onclick="inputTs('±')">±</td>-->
              <!--<td onclick="inputTs('∠')">∠</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td onclick="inputTs('⊿')">⊿</td>-->
              <!--<td onclick="inputTs('◁')">◁</td>-->
              <!--<td onclick="inputTs('↗')">↗</td>-->
              <!--<td onclick="inputTs('×')">×</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td onclick="inputTs('÷')">÷</td>-->
              <!--<td onclick="inputTs('≦')">≦</td>-->
              <!--<td onclick="inputTs('≧')">≧</td>-->
              <!--<td onclick="inputTs('≠')">≠</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td onclick="inputTs('Ⅰ')">Ⅰ</td>-->
              <!--<td onclick="inputTs('Ⅱ')">Ⅱ</td>-->
              <!--<td onclick="inputTs('Ⅲ')">Ⅲ</td>-->
              <!--<td onclick="inputTs('Ⅳ')">Ⅳ</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td onclick="inputTs('Ⅴ')">Ⅴ</td>-->
              <!--<td onclick="inputTs('Ⅵ')">Ⅵ</td>-->
              <!--<td onclick="inputTs('Ⅶ')">Ⅶ</td>-->
              <!--<td onclick="inputTs('Ⅷ')">Ⅷ</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td onclick="inputTs('Ⅸ')">Ⅸ</td>-->
              <!--<td onclick="inputTs('Ⅹ')">Ⅹ</td>-->
              <!--<td onclick="inputTs('Ⅺ')">Ⅺ</td>-->
              <!--<td onclick="inputTs('Ⅷ')">Ⅻ</td>-->
            <!--</tr>-->
          <!--</table>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<script>-->
        <!--function inputTs(str) {-->
            <!--var count =  $("#process_content").val() + str;-->
            <!--$("#process_content").val(count);-->
        <!--}-->
    <!--</script>-->

    <div class="layui-form-item">
      <label for="process_quota" class="layui-form-label">工序定额</label>
      <div class="layui-input-inline">
        <input type="text" id="process_quota" name="process_quota"   value="{$processRow.process_quota}"  autocomplete="off" class="layui-input"  >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否检验</label>
      <div class="layui-input-block">
        <input type="checkbox"      {if 1==$processRow.if_check}checked=""{/if}   name="if_check" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
        <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">明细编号</label>
      <div class="layui-input-inline">
        <input type="text" id="drawing_detial_id" value="{$processRow.drawing_detial_id}"  name="drawing_detial_id" lay-verify="required" autocomplete="off" class="layui-input"  disabled="disabled">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">工序报价</label>
      <div class="layui-input-inline">
        <input type="text" id="process_quoted_price" value="{$processRow.process_quoted_price}"   name="process_quoted_price"  autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">定额报价</label>
      <div class="layui-input-inline">
        <input type="text" id="quota_quotation"  value="{$processRow.quota_quotation}"  name="quota_quotation" autocomplete="off" class="layui-input" >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">外协报价</label>
      <div class="layui-input-inline">
        <input type="text" id="process_real_price"  value="{$processRow.process_real_price}"  name="process_real_price" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-inline">
        <input type="text" id="remark" name="remark" value="{$processRow.remark}"  autocomplete="off" class="layui-input" >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">创建人</label>
      <div class="layui-input-inline">
        <input type="text" id="create_name" name="create_name"  value="{$processRow.create_name}" autocomplete="off" class="layui-input" >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <button class="layui-btn" lay-submit lay-filter="addId">
        修改
      </button>
    </div>
  </form>
</div>
<script>


    layui.use(['form'], function(){
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer;
        //监听提交
        form.on('submit(addId)', function(data){
            //console.log(data);
            $.post("{:url('index/Blueprint/editProcess')}",data.field,function(info){
                if (info) {
                    layer.alert("添加成功", {icon: 6},function () {
                        window.parent.location.reload();  //刷新父级页面
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前弹出层
                        parent.layer.close(index);
                    });
                }else{
                    layer.alert("添加失败", {icon: 5});
                }
            },'json');
            return false;
        });
    });
</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>