{include file="public/header" /}
<body>
<div class="x-body">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend>工艺信息</legend>
  </fieldset>
  <div class="layui-row">
    <div class="container-wrap">
      <div class="box-1">
        <table class="layui-table">
          <thead>
            <tr>
              <th>工艺编号</th>
              <th>工艺类型</th>
              <th>工艺说明</th>
              <th>工序定额</th>
              <th>是否检验</th>
              <th>图纸明细编号</th>
              <th>工序报价</th>
              <th>定额报价</th>
              <th>外协实际价格</th>
            </tr>
          </thead>
          <tbody>
          {volist name="processInfo" id="processInfoList"}
            <tr>
              <td>{$processInfoList.process_id}</td>
              <td>{$processInfoList.process_type}</td>
              <td>{$processInfoList.process_content}</td>
              <td>{$processInfoList.process_quota}</td>
              <td>{$processInfoList.if_check}</td>
              <td>{$processInfoList.drawing_detial_id}</td>
              <td>{$processInfoList.process_quoted_price}</td>
              <td>{$processInfoList.quota_quotation}</td>
              <td>{$processInfoList.process_real_price}</td>
            </tr>
          {/volist}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="x-body">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>工序信息</legend>
  </fieldset>
  <div class="layui-row">
    <div class="container-wrap">
      <div class="box-1">
        <table class="layui-table">
          <thead>
            <tr>
              <th>序号</th>
              <th>工序</th>
              <th>定额</th>
              <th>工艺内容</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a title="序号#" onclick="x_admin_show('<span class=\'layui-badge layui-bg-blue\'>P001</span> 的工序详情','{:url(\'index/blueprint/sequence\')}')" href="javascript:;"><i class="layui-icon">P01</i></a>
              </td>
              <td>工艺编号</td>
              <td>工艺编号</td>
              <td>工艺编号</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>